<a href="https://colab.research.google.com/github/thwjd639/DuSiDataTeamGunaesigdang/blob/main/%EB%AC%B8%EC%86%8C%EC%A0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 0. 데이터 불러오기

In [52]:
import pandas as pd

path = '/content/drive/MyDrive/Colab/두더지/구내식당/'

sample = pd.read_csv(path + 'sample_submission.csv', encoding = 'utf-8') # DataFrame으로 읽기
test_raw = pd.read_csv(path + 'test.csv', encoding = 'utf-8')
train_raw = pd.read_csv(path + 'train.csv', encoding = 'utf-8')

In [3]:
sample.head()

           일자  중식계  석식계
0  2021-01-27    0    0
1  2021-01-28    0    0
2  2021-01-29    0    0
3  2021-02-01    0    0
4  2021-02-02    0    0

In [21]:
train_raw.head()

           일자 요일  ...     중식계    석식계
0  2016-02-01  월  ...  1039.0  331.0
1  2016-02-02  화  ...   867.0  560.0
2  2016-02-03  수  ...  1017.0  573.0
3  2016-02-04  목  ...   978.0  525.0
4  2016-02-05  금  ...   925.0  330.0

[5 rows x 12 columns]

In [22]:
train_raw.tail()

              일자 요일  ...     중식계    석식계
1200  2021-01-20  수  ...  1093.0  421.0
1201  2021-01-21  목  ...   832.0  353.0
1202  2021-01-22  금  ...   579.0  217.0
1203  2021-01-25  월  ...  1145.0  502.0
1204  2021-01-26  화  ...  1015.0  480.0

[5 rows x 12 columns]

In [23]:
train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일자              1205 non-null   object
 1   요일              1205 non-null   object
 2   본사정원수           1205 non-null   int64
 3   본사휴가자수          1205 non-null   int64
 4   본사출장자수          1205 non-null   int64
 5   본사시간외근무명령서승인건수  1205 non-null   int64
 6   현본사소속재택근무자수     1205 non-null   float64
 7   조식메뉴            1205 non-null   object
 8   중식메뉴            1205 non-null   object
 9   석식메뉴            1205 non-null   object
 10  중식계             1205 non-null   float64
 11  석식계             1205 non-null   float64
dtypes: float64(3), int64(4), object(5)
memory usage: 113.1+ KB

In [24]:
len(train_raw)

1205

In [25]:
train_raw.isnull().sum()

일자                0
요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
조식메뉴              0
중식메뉴              0
석식메뉴              0
중식계               0
석식계               0
dtype: int64

In [26]:
train_raw.nunique()

일자                1205
요일                   5
본사정원수               53
본사휴가자수             347
본사출장자수             194
본사시간외근무명령서승인건수     507
현본사소속재택근무자수        165
조식메뉴              1204
중식메뉴              1198
석식메뉴              1168
중식계                628
석식계                405
dtype: int64

In [27]:
train_raw.shape

(1205, 12)

In [28]:
test_raw.head()

           일자  ...                                           석식메뉴
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3  2021-02-01  ...           흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4  2021-02-02  ...       흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

[5 rows x 10 columns]

In [29]:
test_raw.tail()

            일자  ...                                      석식메뉴
45  2021-04-05  ...           흑미밥 돈육고추장찌개 갈치구이 김치전 취나물무침 깍두기
46  2021-04-06  ...  추가밥 짬뽕*생면 수제찹쌀꿔바로우 메추리알곤약장조림 단무지무침 포기김치
47  2021-04-07  ...  단호박카레라이스 시금치된장국 소떡소떡 파프리카해초무침 감귤쥬스 포기김치
48  2021-04-08  ...       흑미밥 어묵매운탕 쇠고기숙주볶음 채소계란찜 쑥갓생무침 김치볶음
49  2021-04-09  ...    흑미밥 맑은버섯국 매운사태조림 춘권*타르타르D 열무나물무침 포기김치

[5 rows x 10 columns]

In [30]:
test_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   일자              50 non-null     object
 1   요일              50 non-null     object
 2   본사정원수           50 non-null     int64
 3   본사휴가자수          50 non-null     int64
 4   본사출장자수          50 non-null     int64
 5   본사시간외근무명령서승인건수  50 non-null     int64
 6   현본사소속재택근무자수     50 non-null     float64
 7   조식메뉴            50 non-null     object
 8   중식메뉴            50 non-null     object
 9   석식메뉴            50 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 4.0+ KB

In [31]:
test_raw.shape

(50, 10)

In [33]:
test_raw.isnull().sum()

일자                0
요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
조식메뉴              0
중식메뉴              0
석식메뉴              0
dtype: int64

In [34]:
test_raw.nunique()

일자                50
요일                 5
본사정원수              4
본사휴가자수            44
본사출장자수            44
본사시간외근무명령서승인건수    35
현본사소속재택근무자수       45
조식메뉴              50
중식메뉴              50
석식메뉴              50
dtype: int64

# 1. 데이터 전처리

In [53]:
# train 컬럼명 수정하기
train = train_raw.copy()
train.columns = ['date', 'dow', 'employees', 'dayoff', 'buss_trip', 'overtime', 'telecommute', 'breakfast_menu', 'lunch_menu', 'dinner_menu', 'target_lunch', 'target_dinner']
train.head()

         date dow  ...  target_lunch  target_dinner
0  2016-02-01   월  ...        1039.0          331.0
1  2016-02-02   화  ...         867.0          560.0
2  2016-02-03   수  ...        1017.0          573.0
3  2016-02-04   목  ...         978.0          525.0
4  2016-02-05   금  ...         925.0          330.0

[5 rows x 12 columns]

In [54]:
# test 컬럼명 수정하기

test = test_raw.copy()
test.columns =  ['date', 'dow', 'employees', 'dayoff', 'buss_trip', 'overtime', 'telecommute', 'breakfast_menu', 'lunch_menu', 'dinner_menu']
test.head()

         date  ...                                    dinner_menu
0  2021-01-27  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1  2021-01-28  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2  2021-01-29  ...            흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3  2021-02-01  ...           흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4  2021-02-02  ...       흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

[5 rows x 10 columns]

In [56]:
# date, dow 변수 날짜 자료형으로 변환
train['date'] = pd.to_datetime(train['date'])

test['date'] = pd.to_datetime(test['date'])

In [57]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1205 non-null   datetime64[ns]
 1   dow             1205 non-null   object
 2   employees       1205 non-null   int64
 3   dayoff          1205 non-null   int64
 4   buss_trip       1205 non-null   int64
 5   overtime        1205 non-null   int64
 6   telecommute     1205 non-null   float64
 7   breakfast_menu  1205 non-null   object
 8   lunch_menu      1205 non-null   object
 9   dinner_menu     1205 non-null   object
 10  target_lunch    1205 non-null   float64
 11  target_dinner   1205 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 113.1+ KB

In [58]:
# date를 년월일 분할하기
train['year'] = train['date'].dt.year
train['month'] = train['date'].dt.month
train['day'] = train['date'].dt.day

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1205 non-null   datetime64[ns]
 1   dow             1205 non-null   object
 2   employees       1205 non-null   int64
 3   dayoff          1205 non-null   int64
 4   buss_trip       1205 non-null   int64
 5   overtime        1205 non-null   int64
 6   telecommute     1205 non-null   float64
 7   breakfast_menu  1205 non-null   object
 8   lunch_menu      1205 non-null   object
 9   dinner_menu     1205 non-null   object
 10  target_lunch    1205 non-null   float64
 11  target_dinner   1205 non-null   float64
 12  year            1205 non-null   int64
 13  month           1205 non-null   int64
 14  day             1205 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(4)
memory usage: 141.3+ KB

In [49]:
# 요일 dow는 범주형으로 만들기
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

class_le = LabelEncoder()
train['week'] = class_le.fit_transform(train['dow'].values)
test['week'] = class_le.fit_transform(test['dow'].values)

In [48]:
train.head(2)

        date dow  employees  ...  target_lunch  target_dinner  week
0 2016-02-01   월       2601  ...        1039.0          331.0     3
1 2016-02-02   화       2601  ...         867.0          560.0     4

[2 rows x 13 columns]

In [50]:
test.head(2)

        date dow  ...                                    dinner_menu  week
0 2021-01-27   수  ...  흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치      2
1 2021-01-28   목  ...            충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지      1

[2 rows x 11 columns]

In [59]:
# train['bread'] 1
# train['drink'] 2
# train['egg']   3
# train['bab']   4
# train['soup']  5
# train['']      6
# 그냥 숫자로 변수 만들어서 각각 확인하고 변수명 변경하자.
# https://hleecaster.com/pandas-data-cleaning-2/ 이 사이트 참고해서 데이터 분할 하기

In [87]:
!git clone https://github.com/thwjd639/DuSiDataTeamGunaesigdang.git

Cloning into 'DuSiDataTeamGunaesigdang'...
remote: Enumerating objects: 49, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (43/43), done.
remote: Total 49 (delta 16), reused 7 (delta 0), pack-reused 0
Unpacking objects: 100% (49/49), done.

In [88]:
!git config --global user.email "thwjd639@gmail.com"
!git config --global user.name "thwjd639"

In [89]:
%cd /content/drive/MyDrive/Colab/두더지/구내식당

/content/drive/MyDrive/Colab/두더지/구내식당

In [90]:
!git init

Reinitialized existing Git repository in /content/drive/My Drive/Colab/두더지/구내식당/.git/

In [91]:
!ls -ltr

total 659
-rw------- 1 root root    828 Jun  2 04:42 sample_submission.csv
-rw------- 1 root root 587512 Jun  2 04:42 train.csv
-rw------- 1 root root  22172 Jun  2 04:42 test.csv
-rw------- 1 root root  59294 Aug 24 14:30 문소정.ipynb
drwx------ 5 root root   4096 Aug 24 14:30 DuSiDataTeamGunaesigdang

In [79]:
!ls

문소정.ipynb  sample_submission.csv  test.csv  train.csv

In [96]:
!git add 문소정.ipynb

In [97]:
!git commit -m "1차제출"

On branch master

Initial commit

Untracked files:
	DuSiDataTeamGunaesigdang/
	sample_submission.csv
	test.csv
	train.csv
	"\341\204\206\341\205\256\341\206\253\341\204\211\341\205\251\341\204\214\341\205\245\341\206\274.ipynb"

nothing added to commit but untracked files present

In [107]:
!git remote set-url origin https://github.com/thwjd639/DuSiDataTeamGunaesigdang.git

In [108]:
!git remote -v

origin	https://github.com/thwjd639/DuSiDataTeamGunaesigdang.git (fetch)
origin	https://github.com/thwjd639/DuSiDataTeamGunaesigdang.git (push)

In [111]:
!git push --set-upstream origin main

error: src refspec main does not match any.
error: failed to push some refs to 'https://github.com/thwjd639/DuSiDataTeamGunaesigdang.git'